@media (max-width:992px){
    .links__items{
        flex-grow: 0;
    }
}

@media (max-width:768px){
    .nav__elements{
        display: none;
    }
    .header__elements{
        flex-direction: column;
    }
    .header__info{
        width: 100%;
    }
    form input{
        width: 45%;
        min-width: 260px;
    }
    form button{
        width: 45%;
        min-width: 260px;
    }
}